body {
    font-family: 'Roboto', sans-serif;
}

.top_heading {
    font-size: xx-large;
    color: crimson;
    margin-left: 35px;
    margin-top: 50px;
    text-shadow: 2px 2px 4px #000000;
}

.experiences_container {
    display: flex;
}

.half_width {
    width: 50%;
    margin: 30px;
    padding: 15px;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.head_section {
    color: coral;
}

.head_section2 {
    color: darkgoldenrod;
}

.footer_section {
    text-align: center;
    background-color: rgb(241, 233, 233);
    padding: 10px 10px 10px 0px;
    margin: 30px;
    margin-top: 175px;

}