body {
    font-family: 'Roboto', sans-serif;
}

.top_heading {
    font-size: xx-large;
    margin-left: 30px;
    margin-top: 50px;
}

.experiences_container {
    display: flex;
}

.half_width {
    width: 50%;
    margin: 30px;
    padding: 15px;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.head_section {
    color: coral;
}

.head_section2 {
    color: darkgoldenrod;
}

.footer_section {
    background-color: gray;
    padding: 20px;
}